<label class="nav__toggle" id="nav__toggle">
    <svg class="nav__toggle--open" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
    <svg class="nav__toggle--close" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
    <input id="nav__toggle--input" type="checkbox">
</label>
<nav _="
on click from window or touchend from window
    if not me.contains(event.target) and not #nav__toggle.contains(event.target)
        set #nav__toggle--input.checked to false
    end
end">
</nav>